body {
    background-color: rgb(215, 195, 203);
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    h1 {
    border: solid 2px rgb(184, 22, 22); 
    text-transform: uppercase;      
    margin-top: 10px;
    margin-left: 5px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    width: 50%;
    }

   
    
    p{
    
    }

    img { 
        border: 1px solid red;
        padding: 10px;
        width: 250px;
        opacity: 0.5;
    }
    
   /* .kuva {
    border: 3px solid rgb(180, 104, 174)
    

    }
    .logo {

        border: 5px solid rgb(39, 5, 11)
    }
    
    figure {
    
    }

    /* unvisited link */
a:link {
    color: rgb(250, 0, 0);
    border-style: dotted rgb(255, 4, 46);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(20, 11, 187);
  }
  
  /* selected link */
  a:active {
    color: rgb(246, 20, 20);
  }