body {
    background-color:beige;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    section {
      display: flex;
      flex-direction: column;
      flex-wrap:wrap;
      flex: 200px
      
    }

    header {
        background-color: aqua;
    }

    footer {
        background-color: blueviolet;
        color: azure;
    }

    .red{
        background-color: brown;
        
    }
    
    footer {
        height: 70px;
       padding: 20px;
        text-align: center;
    }

 

      .color1{
        background-color: rgb(31, 31, 154);
      }

      .color2{
        background-color: rgb(163, 46, 46);
      }
      .color3{
        background-color: rgb(98, 164, 47);
      }