body {
    background-color:beige;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    section {
      display: flex;
      flex-direction: column;
      flex-wrap:wrap;
      flex: 200px
      
    }

    header {
        background-color: aqua;
    }

    footer {
        background-color: blueviolet;
        color: azure;
    }

    .red{
        background-color: brown;
        
    }
    
    footer {
        height: 70px;
       padding: 20px;
        text-align: center;
    }

    .input {
        width: 100%;
        max-width: 220px;
        height: 45px;
        padding: 12px;
        border-radius: 12px;
        border: 1.5px solid lightgrey;
        outline: none;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        box-shadow: 0px 0px 20px -18px;
      }
      
      .input:hover {
        border: 2px solid lightgrey;
        box-shadow: 0px 0px 20px -17px;
      }
      
      .input:active {
        transform: scale(0.95);
      }
      
      .input:focus {
        border: 2px solid grey;
      }

      .color{
        background-color: blue;
      }